body{
  font-family: var(--font-family);
  @include font(var(--font-weight-regular), 12px, 160%);
  background-color: var(--page-bg);
  color: var(--text-color);

  @include laptop(){
    @include font(var(--font-weight-regular), 14px, 160%);
  }
  @include tabled(){
    @include font(var(--font-weight-regular), 14px, 150%);
  }
}
h1{
  @include font(var(--font-weight-semibold), 30px, 100%);

  @include laptop(){
    @include font(var(--font-weight-semibold), 40px, 120%);
  }
  @include tabled(){
    @include font(var(--font-weight-semibold), 80px, 100%);
  }
}
h2{
  @include font(var(--font-weight-semibold), 25px, 120%);

  @include laptop(){
    @include font(var(--font-weight-semibold), 30px, 110%);
  }
  @include tabled(){
    @include font(var(--font-weight-medium), 45px, 110%);
  }
}
h3, .text-big{
  @include font(var(--font-weight-semibold), 16px, 120%);

  @include laptop(){
    @include font(var(--font-weight-semibold), 20px, 120%);
  }
  @include tabled(){
    @include font(var(--font-weight-semibold), 30px, 120%);
  }
}



.logo{
  width: 49px;

  @include laptop(){
    width: 60px;
  }
}


.box{
  @include tabled(){
    background-color: coral;
  }

  /* Фолбэк */
  background-image: url("puppy.png");

  /* Для Chrome и Safari */
  background-image: -webkit-image-set(
                  url("puppy@2x.png") 2x,
                  url("puppy@1x.png") 1x
  );

  /* Для Firefox */
  background-image: image-set(
                  url("puppy@2x.avif") type("image/avif") 2x,
                  url("puppy@1x.avif") type("image/avif") 1x,
                  url("puppy@2x.webp") type("image/webp") 2x,
                  url("puppy@1x.webp") type("image/webp") 1x,
                  url("puppy@2x.png") 2x,
                  url("puppy@1x.png") 1x
  );
}
