@mixin mediaBg(){
  @media (-webkit-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    @content;
  }
}

@mixin tabled(){
  @media (min-width: 1440px){
    @content;
  }
}
@mixin laptop(){
  @media (min-width: 640px){
    @content;
  }
}

@mixin mobile(){
  @media (max-width: 320px){
    @content;
  }
}


@mixin font($weight, $size, $height){
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}
