.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


$list-color: ('accent' : --text-accent, 'white':--text-white);
@each $name,$color in $list-color {
  @include color-text($name,$color);
}

$list-font-weight: ('regular' : --font-weight-regular, 'medium': --font-weight-medium, 'semibold':--font-weight-semibold, 'bold':--font-weight-bold);
@each $name,$weight in $list-font-weight {
  @include font-weight($name,$weight);
}

.flex{
  display: flex;
}
.grid{
  display: grid;
}
.p-relative{
  position: relative;
}
.p-absolute{
  position: absolute;
}
.p-fixed{
  position: fixed;
}

.button{
 @include flex-text-center();

  padding: 15px 35px;
  gap: 10px;

  @include font(var(--font-weight-bold), 16px, 150%);

  height: 54px;
  width: 100%;

  background-color: var(--button-color);
  border-radius: 65px;

  @include transition(all);

  &:hover{
    filter: drop-shadow(0 0 5px var(--button-color-hover));
  }

  &:hover,&:active{
    color: var(--text-white);
    background-color: var(--button-color-hover);
  }
  &:active{
    opacity: .8;
  }

  @include laptop(){
    width: fit-content;
  }
}

.mode-switch{
  &__inner{
    display: block;
    width: 280px;
    height: 54px;

    border: 3px solid currentColor;
    border-radius: 108px;
    overflow: hidden;

    @include font(var(--font-weight-bold), 16px, 150%);
    @include transition(all);

    &:before{
      content: attr(data-off);
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      @include flex-text-center();
    }
    &:after{
      content: attr(data-on);
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      @include flex-text-center();

      color: var(--text-white);
      text-align: center;
      background: var(--text-color);
      border-radius: 65px;
      @include transition(all);
    }
  }
  input[type="checkbox"]{
    position: absolute;
    top: 0;
    cursor: pointer;
    width: 280px;
    height: 54px;
    opacity: 0;
    z-index: 1;
    margin: 0;
  }

  input[type="checkbox"]:checked + &__inner{
    color: var(--text-white);

    &:after{
      content: attr(data-off);
      right: 50%;
      color: var(--text-color);
      background: var(--text-white);

    }
    &:before{
      content: attr(data-on);
      left: auto;
      right: 0;
    }
  }

 }
