  :root {
    --tablet-container-padding: 140px;
    --laptop-container-padding: 40px;
    --mobile-container-padding: 20px;

    --font-family: 'Gilroy', sans-serif;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --page-bg: #E0E0E0;
    --text-color: #151515;
    --theme-accent: #FF4C0D;


  }

  .dark {

  }
