.header{
  width: 100%;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-position: right;
    @include background-image("../img/picture/", "bike_mobile", "png");

    @include laptop() {
      @include background-image("../img/picture/", "bike_laptop", "png")
    }
    @include tabled() {
      @include background-image("../img/picture/", "bike", "png")
    }

  }
  &__inner{

  }

  &__menu{
    gap: 40px;
    line-height: 150%;
  }
}


